body{
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: row;
    flex: auto;}


article{
    flex: 2;
    overflow-y: auto;
}

aside{
    flex: 1;
    overflow-y: auto;
}

header, footer{
    background-color: black;
    color: aliceblue;
}

header a, footer a{
    background-color: black;
    color: aliceblue;
}